@CHARSET "UTF-8";

body {
	font-family: Arial, Helvetica, sans-serif;
}

div#wrapper {
	width: 40%;
	margin: 0 auto;
}

div h1 {
	text-align: center;	
}

form div {
	margin: 1em;
}

form div label {
	display: block;
	padding: 0.5em;
	font-weight: bold;
	width: 100%;
}

form div input {
	width: 80%;
}	
	
form div input {
	border-radius: 0.5em;
	padding: 0.3em;
	font-size: 1em;
	border: 1px solid grey;
}

form div input:focus, form div button {
	outline: none;
}

form div button {
	border-radius: 0.5em;
	border: 1px solid gray;
	font-size: 1em;
	padding: 0.3em;
}

div p {
	font-weight: bold;
	text-align: center;	
}

.error {
	color: #ff0000;
}

div#result {
	color: #004400;
}

